<html>
    <body>
        <%# Write your code here! %>
        <h1>Welcome!</h1>
        <h3>If you tell me your name, I can say hi!</h3>
        <form action="/greet" method="post">
            Name: <input type="text" name="user_name"><br>
            <input type="submit" value="Submit">
        </form>
    </body
</html>